body {
    background-image: url('bg.jpg'); /* Remplacez 'votre-image.jpg' par le chemin de votre image d'arrière-plan */
    background-color: #000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    
    /* Opacité de 0.5 (50%) */
    opacity: 0.5;
    
    /* Garantit que l'image couvre l'arrière-plan */
    background-size: cover;
}

h1 {
    color : blue;
    font-size: 50px;
    

}

 p {
    color: red;
    font-size: 20px;
}

nav{
    background: #000; /* fond */
    color: #fff;
    padding: 50px;
    position: fixed; /* Le menu a une position fixe lors de la descente dans la page */
    text-align: center; /* alignement du texte centré */
    width: 100%; /* largeur 100% de la fenêtre */
    top: 0; /* aligné à 0px du haut */
    left: 0; /* aligné à 0px de la gauche */
    }
    nav  a{ 
    padding: 0.5em 2em; 
    color: #fff; 
    text-decoration: none; 
    height: 33px; 
    }
    nav  a:hover{ 
    background: #fda500; 
    }
    #contenu{
    border: 2px solid #336699; /* bordure */
    margin: 40px 0 0 0; /* marges haut droite bas gauche */
    }
    
    .container{
        margin: 172px;
        background-color: #fff;
        padding: 30px;
        width: 50%;
    }

    footer { background: rgb(16, 5, 5);height: 50px;
        position: absolute;
        width: 100%;
        bottom: 0; 
    height: 55px;
margin-top: 10px;}

    footer .container1{
        margin-top: 10px;
        text-align: center;
      
    }

    .monh1{
        background-image: url('img1.jpg');
        background-size: cover;
        text-align: center;
        font-size: 60px;
        padding: 70px 40px 10px 40px;
        margin-top: 20px;

    }