{% extends 'homepage.html' %}

{% block content %}

<h1>Détails sur une publication de  {{publication.auteur}} </h1>
<p>titre de la publication  : {{ publication.titre }}</p>
<p> categorie de la publication {{ publication.categorie }} </p>
<p>description de la publication  : {{ publication.texte }}</p>
<p>date de la publication  : {{ publication.date_de_publication }}</p>
<p> auteur de la publication  {{publication.auteur}}</p>

<p><a href="{% url 'afficher_toutes_publications' %}"> retourner a tout les publication </a></p>
{% endblock %}